
.header{
  grid-area: header;
  background-color: #73b2d6;
  
}

.logo{
  height:85%;
  margin: 5px;
  animation: logoSpin infinite 10s linear;
}
@keyframes logoSpin
 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
