
.nav{
  grid-area: nav;
  background-color: #72d9ea;
  padding: 20px;
}

.item a{
  color: #944018;
  text-decoration: none;
}

.item a[class='active']{
  color: gold;
  text-shadow: 2px 2px #944018;
}


