.dialogs {
  color: #5c858b;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems{
  padding: 10px;
}

.dialog{
  color: inherit;
}
.dialog a{
  text-decoration: none;
  color: inherit;
}

.messages {
  padding: 10px;
}

.message {

}