.item {
  color: #5c858b;
  border-top: 2px dotted #944018;
  border-bottom: 2px dotted #944018;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item img {
  width: 50px;
  border-radius: 20px;
}

.privateInfo > div{
  color: #3e5f64;
  display: inline-block;
}

.privateInfo {
  margin-bottom: 5px;
  margin-right: 10px;
}

p {
  margin: 0;
}
.leftBlock{
  display: flex;
  align-items: center;
}