.app-wrapper{
  display: grid;
  grid-template-areas: 
  "header header"
  "nav content";
  grid-gap: 10px;
  grid-template-rows: 60px 1fr;
  grid-template-columns:2fr 10fr;
  background-color:#FBEEC1;
  width:80vw;
  height:100vh;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}
